.tt-menu {
  width: 100%;
  background-color: #fff;
  margin-top: 4px;
  padding: 4px 0;
  border: 1px solid #ccc;
}
.tt-suggestion {
  padding: 5px;
  line-height: 24px;
}
.tt-suggestion.tt-cursor, .tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;
  cursor: default;
}
.twitter-typeahead {
  width: 100%;
}
.add-item {
  margin: 10px;
}
.remove-item {
  margin: 25px 0;
}