{% load i18n %}
{% load calculator_tags %}

<h2>{% trans 'nutrient table'|capfirst %}</h2>
{{ biometric }}
<table class="table">
  <thead>
    <tr>
      <th>{% trans 'name'|capfirst %} </th>
      {% for p in total %} 
      <th class="value">{{ p.name|capfirst }}</th>
      {% endfor %}  
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.cal }}</td>
      {% for n in item.nutrients %}
      <td>{{ n.value }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    <tr>
      <td>{% trans 'total'|capfirst %}</td>
      {% for p in total %} 
      <td class="value">{{ p.value }}</td>
      {% endfor %}  
    </tr>

    {% if biometric %}
    <tr>
      <td>{% trans 'recomendet'|capfirst %}</td>
      <td>{{ biometric.daily_callories|floatformat }}</td>
      <td>{% nutrient_from_callories biometric.daily_callories 'protein' 0.3 %}</td>
      <td>{% nutrient_from_callories biometric.daily_callories 'carb' 0.3 %}</td>
      <td>{% nutrient_from_callories biometric.daily_callories 'fat' 0.4 %}</td>
    </tr>
    {% endif %}
    <tr>
      <td colspan="2">{% trans 'calculated proportion'|capfirst %}</td>
      {% for p in proportions %} 
      <td>{{ p.value }} %</td>
      {% endfor %}
    </tr>
  </tbody>
</table>

{% if other_nutrients %}
  <h2>{% trans 'other nutrients'|capfirst %}</h2>
  <table class="table">
    <thead>
      <tr>
        <th>{% trans 'name'|capfirst %} </th>
        <th>{% trans 'count'|capfirst %}</th>
      </tr>
    </thead>
    <tbody>
      {% for name, value in other_nutrients.items %}
      <tr>
        <td>{{ name }}</td>
        <td>{{ value }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}