{% extends 'base.html' %}

{% load calculator_tags %}
{% load i18n %}

{% block base_content %}
<div class="container">
  <h1>Set biometric</h1>
  <div class="row">
    <div class="col-md-12">
      <ul id="products" class="list-unstyled">
      <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">{% trans 'calculate' %}</button>
      </form>
      </ul>
    </div>
  </div>
</div>
{% endblock %}