{% extends 'base.html' %}

{% load calculator_tags %}
{% load i18n %}

{% block base_content %}
<div class="container">
  <h1>Choose Products</h1>
  <div class="row">
    <div class="col-md-6">
      <input type="text" class="form-control" id="find-product" placeholder="product name">
      <ul id="found_products" class="list-unstyled">
      </ul>
    </div>
    <div class="col-md-6">
      <ul id="choosen_products" class="list-unstyled">
        {% for item in object_list %}
          <li><span data-id="{{ item.id }}" class="product">{{ item.content_object }}</span>
              {% for nutrient in item.content_object|get_nutrient %}
                <span class="nutrient">{{ nutrient.nutrient }}</span>
                  <span class="nutrient-value">{{ nutrient.value }}</span>
              {% endfor %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <a class="btn btn-success" href="{% url 'set-product-params' %}">{% trans 'next'|capfirst %}</a>
  </div>
{% endblock %}