{% extends 'base.html' %}

{% load calculator_tags %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block base_content %}

<div class="container">
  <h1>Set params</h1>
  <div class="row">
    <div class="col-md-12">
      <form method="post" action="">
        {% csrf_token %}
        {{ form.management_form }}
        
        {% for f in form %}
        <div class="row {{ form.prefix }}-good">
          <div class="row col-md-5">
            <div class="col-md-12">{% crispy f %}</div>
            <div id="nutrients" class="col-md-12">
              {% if f.instance.content_object %}
                <span class="nutrient"> {% trans 'cal'|capfirst %} </span>
                <span class="nutrient-value">{{ f.instance.content_object|get_calories }}</span>
                {% for n in f.instance.content_object|get_nutrient %}
                <span class="nutrient"> {{ n.nutrient }} </span>
                <span class="nutrient-value"> {{ n.value }} </span>
                {% endfor %}
              {% endif %}
            </div>
          </div>    
        </div>
        {% endfor %}
        
        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-success">{% trans 'calculate' %}</button>
          </div>
        </div>
      </form>
      {% if total %}
        {% include 'components/callculation_table.html' %}
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}