{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "bootstrap/css/landing-page.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "bootstrap/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
{#    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">#}
</head>
<body>
<div class="container">
{#    <img src="{% static "logo.jpg" %}" alt="My image"/>#}
    {% block content %}Empty page{% endblock %}
</div> <!-- container -->

</body>
</html>



{#----------------------------------------------------------------#}
{#----------------------------------------------------------------#}
{#----------------------------------------------------------------#}
{#----------------------------------------------------------------#}
{#----------------------------------------------------------------#}
{#----------------------------------------------------------------#}
{#----------------------------------------------------------------#}
{#----------------------------------------------------------------#}
{#----------------------------------------------------------------#}
{#----------------------------------------------------------------#}
{#----------------------------------------------------------------#}
{#----------------------------------------------------------------#}
{#----------------------------------------------------------------#}
{#----------------------------------------------------------------#}


{#<!DOCTYPE html>#}
{#{% load staticfiles %}#}
{#<html lang="ru">#}
{#    <head>#}
{#        <meta charset="utf-8" />#}
{#        <title>MyBlog</title>#}
{#        <link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">#}
{#        <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">#}
{#        <style>#}
{#            body {#}
{#                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */#}
{#            }#}
{#        </style>#}
{#        <link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">#}
{#        <!--[if lt IE 9]>#}
{#        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>#}
{#        <![endif]-->#}
{#        <script src="{{STATIC_URL}}bootstrap/js/bootstrap.js" type="text/javascript"></script>#}
{#        {% block extrahead %}#}
{#        {% endblock %}#}
{#        <script type="text/javascript">#}
{#        $(function(){#}
{#        {% block jquery %}#}
{#        {% endblock %}#}
{#        });#}
{#        </script>#}
{#    </head>#}
{#<body>#}
{##}
{#<div class="navbar navbar-inverse navbar-fixed-top">#}
{#    <div class="navbar-inner">#}
{#        <div class="container">#}
{#            <div class="brand">My Blog</div>#}
{#            <ul class="nav">#}
{#                <li><a href="{% url 'list' %}" class="">Список постов</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{##}
{#</div>#}
{##}
{#<div class="container">#}
{#    <img src="{% static "logo.jpg" %}" alt="My image"/>#}
{#    {% block content %}Empty page{% endblock %}#}
{#</div> <!-- container -->#}
{##}
{#</body>#}
{#</html>#}