<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>{{ Dish }}</h1>
<br>
<h3>Ingridients</h3>
{% for product in Products %}
    <li>{{ product.product }} -- {{ product.amount }}</li>
{% endfor %}
<br>
<br>

<hr>
<h3>Nutrients</h3>
{% for nutrient in Nutrients %}
    <li>{{ nutrient }} -- {{ nutrient.amount }}</li>
{% endfor %}
<hr>
<br>
<h3>Calculation</h3>
<p>Carbs : {{ Carbs }}</p>
<p>Protein: {{ Protein }}</p>
<p>Fat: {{ Fat }}</p>
</body>
</html>