<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% for dish in dishes %}
    <li><a href="/dishes/{{dish.id}}">{{ dish }} <br>
        <ul>
        {% for prindish in dish.prindish_set.all %}
            <li>{{ prindish.product }}, {{ prindish.amount }}</li>
{#                <ul>#}
{#                {% for nutrinproduct in product.nutrinproduct_set.all %}#}
{#                    <li>{{ nutrinproduct.nutrient }}, {{ nutrinproduct.amount }}</li>#}
{#                {% endfor %}#}
{#                </ul>#}
        {% endfor %}
        </ul>
    </li>

{% endfor %}
</body>
</html>