<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

{{ Product }}

{% for nutrient in Nutrients %}
            <li>{{ nutrient.nutrient }}, {{ nutrient.amount }}</li>
{% endfor %}

</body>
</html>